// Variables
@charcoal: #333;
@light-grey: #BBB;
@sky-blue: #8DD2FF;
@sky-blue-hover:  darken(@sky-blue, 10%);
@dark-blue: #213C52;
@medium-blue: #3872AC;
@red: #E84945;
@red-hover:  darken(@red, 10%);

body {
  font-size: 16px;
  border-top: 10px solid @charcoal;
  font-family: fira-sans, sans-serif;
  font-style: normal;
  margin: 0;
}

h3 {
  font-weight: 300;
}

button {
  width: auto;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  background-color: @sky-blue;
  border: none;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 0.25rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  &:hover {
    background-color: @sky-blue-hover;
    cursor: pointer;
  }
}
button:focus {
  outline: 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

img {
  width: 50%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    img {
      width: 85%;
    }
  }
  .header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .nav {
    display: flex;
    width: auto;
    p {
      font-size: 14px;
      color: @light-grey;
      border-bottom: 1px solid @light-grey;
      padding: 15px 20px;
      min-width: 60px;
      text-align: center;
      &:hover {
        border-bottom: 1px solid @red;
        color: @red;
        cursor: pointer;
      }
    }
  }
}

section {
  display: flex;
  height: 350px;
}

#more-info {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 25%;
}

#call-to-action {
  height: 467px;
  button {
    width: auto;
    background-color: @red;
    &:hover {
      background-color: @red-hover;
    }
  }
  .text {
    z-index: 2;
    position: absolute;
    top: 375px;
    margin-left: 40px;
    width: 350px;
    text-align: center;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 5px;
    padding: 20px;
    h4 {
      font-size: 24px;
      font-weight: 300;
      margin: 0;
    }
    p {
      font-size: 12px;
    }
  }
}

#add-features {
  background-color:  @red;
}

.gradient-blue-red {
  background:  @dark-blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, @dark-blue, @red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, @dark-blue, @red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right,  @dark-blue, @red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, @dark-blue, @red);
}

.owl-carousel {
  width: 100%;
  opacity: .6;
  img {
    height: 100%;
    @media only screen and (max-width: 480px) {
      height: 70%;
      width: auto;
    }
  }
}

footer {
  background-color: @charcoal;
  height: 150px;
}
